# compiled output
/dist
node_modules
/common/protobuf/node_modules
/sc/node_modules
/ganache_data
/build
/site
/artifacts
/cache
/contracts.json
/contracts-exposed
/outputs

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/coverage.json
/.nyc_output
/test-results
/test-local
/contracts-test

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# env settings
.env

# lock
yarn.lock

# slither
slither-report.sarif

# OpenZeppelin
.openzeppelin/unknown-*.json
.openzeppelin/bsc-testnet.json
.openzeppelin/polygon-mumbai.json
.openzeppelin/goerli.json

# deploy-history
/deploy-history/5-goerli
/deploy-history/97-bnbt
/deploy-history/31337-hardhat
/deploy-history/80001-maticmum

#csv-export
/csv-export/

# script
/scripts/local/*

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
deployments/chain-31337.json